:root{
    --primary: cornsilk;
    --secondary: darkblue;
  }
  body{
    background-color: var(--primary);
    color: var(--secondary);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
  }
  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  pre{
    font-size: 1vw;
    /* line-height: 1.3vw; */
    margin: 0;
    padding: 0;
    /* border: 1px solid var(--secondary); */
  }
  @media screen and (max-width: 600px) {
    pre{
      font-size: 1.6vw;
      /* line-height: 1.7vw; */
    }

  }