:root{
    --primary: cornsilk;
    --secondary: blue;
  }
  body{
    background-color: var(--primary);
    color: var(--secondary);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vh;
    /* line-height: 2vh; */
  }
  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  pre{
    font-family: monospace;
    font-size: 0.7vw;
    line-height: 0.85 vw;
    margin: 0;
    padding: 0;
    border: 1px solid var(--secondary);
  }
  @media screen and (max-width: 600px) {
    pre{
      font-size: 1.5vw;
      line-height: 1.8vw;
    }

  }